/*!
 * @author Mohamed Muntasir
 * @link https://github.com/devmotheg
 */

/* General */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #4b4b4b;
  min-width: 250px;
}

/* Main */

.accordion {
  max-width: 960px;
  width: 85%;
  margin: auto;
}

/* Header */

.accordion__header {
  padding: 2rem;
  text-align: center;
}

h1 {
  margin-bottom: 0.5rem;
  font-size: 1.7rem;
}

h2 {
  font-size: 1.1rem;
}

/* Body */

.accordion__item {
  border-top: calc(1rem / 16) solid #ddd;
  list-style: none;
  padding: 1rem 2rem;
  letter-spacing: 0.025rem;
}

.accordion__heading {
  display: flex;
  justify-content: space-between;
  font-size: 1.025rem;
  cursor: pointer;
}

.accordion__icon {
  font-size: 1.2rem;
  margin-left: 1rem;
}

.accordion__details {
  height: 0;
  overflow: hidden;
  transition: 0.3s;
}

.accordion__details p {
  padding: 2rem 0 0.5rem;
  line-height: 1.2rem;
  font-style: oblique;
  font-size: 0.9rem;
}

.--active {
  color: black;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}
